@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@300&family=Sora:wght@500;600;700&display=swap');


.text-navbar {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400
}

.text-title-banner {
    font-family: 'Sora', sans-serif;
    font-size: 1.5rem;
    font-weight: 700
}

.text-header-form {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 24px;
}

.text-description-banner {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .text-title-banner {
        font-size: 1.5rem
    }

    .text-description-banner {
        font-size: 0.9rem;
    }
}

.text-contact-banner {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.text-title-profile {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500
}

.text-description-profile {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.text-home-news {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.text-home-city-news {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.text-title-card-services {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.text-description-card-services {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.text-more-card-services {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.text-testimony {
    font-family: 'Rubik', sans-serif;
}

.text-name-testimony {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.text-position-testimony {
    font-family: 'Roboto', sans-serif;
}

.text-title-footer {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ECF0F0;
}

.text-link-footer {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-bottom: 4px;
    color: #F1F5EC;
}

.titulo {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.text-title-card-parceiros{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.text-link-card-parceiros{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.title-news {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.text-name-representants {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.text-office-representants {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #676767;
}
